In [1]:
import pandas as pd

# example.csv파일로부터 데이터 읽기

In [3]:
data = pd.read_csv("./data/example.csv")
data

   trainID  Ramyon  Milk  Beer  PotatoChip  Detergent
0        1     1.0   1.0   1.0         NaN        NaN
1        2     1.0   NaN   1.0         1.0        NaN
2        3     NaN   1.0   NaN         NaN        1.0
3        4     1.0   1.0   1.0         1.0        NaN
4        5     NaN   1.0   1.0         NaN        NaN

In [4]:
data=data.fillna(0)
data2=data.drop("trainID",axis=1)
data2

   Ramyon  Milk  Beer  PotatoChip  Detergent
0     1.0   1.0   1.0         0.0        0.0
1     1.0   0.0   1.0         1.0        0.0
2     0.0   1.0   0.0         0.0        1.0
3     1.0   1.0   1.0         1.0        0.0
4     0.0   1.0   1.0         0.0        0.0

# 연관 법칙 분석 함수 import
# 연관 항목 쌍 수집

In [5]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [6]:
minSupportData = apriori(data2,min_support=0.2,use_colnames=True)
minSupportData

    support                          itemsets
0       0.6                          (Ramyon)
1       0.8                            (Milk)
2       0.8                            (Beer)
3       0.4                      (PotatoChip)
4       0.2                       (Detergent)
5       0.4                    (Ramyon, Milk)
6       0.6                    (Ramyon, Beer)
7       0.4              (Ramyon, PotatoChip)
8       0.6                      (Beer, Milk)
9       0.2                (PotatoChip, Milk)
10      0.2                 (Detergent, Milk)
11      0.4                (PotatoChip, Beer)
12      0.4              (Ramyon, Beer, Milk)
13      0.2        (Ramyon, PotatoChip, Milk)
14      0.4        (Ramyon, PotatoChip, Beer)
15      0.2          (PotatoChip, Beer, Milk)
16      0.2  (Ramyon, PotatoChip, Beer, Milk)

In [8]:
minSupportData04 = apriori(data2,min_support=0.4,use_colnames=True)
minSupportData04

    support                    itemsets
0       0.6                    (Ramyon)
1       0.8                      (Milk)
2       0.8                      (Beer)
3       0.4                (PotatoChip)
4       0.4              (Ramyon, Milk)
5       0.6              (Ramyon, Beer)
6       0.4        (Ramyon, PotatoChip)
7       0.6                (Beer, Milk)
8       0.4          (PotatoChip, Beer)
9       0.4        (Ramyon, Beer, Milk)
10      0.4  (Ramyon, PotatoChip, Beer)

# 연관 법칙 추출

In [10]:
example_Rules_pos = association_rules(minSupportData04,metric="lift",min_threshold=1)
example_Rules_pos

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Ramyon),(Beer),0.6,0.8,0.6,1.000000,1.250000,0.12,inf,0.500000
1,(Beer),(Ramyon),0.8,0.6,0.6,0.750000,1.250000,0.12,1.6,1.000000
2,(Ramyon),(PotatoChip),0.6,0.4,0.4,0.666667,1.666667,0.16,1.8,1.000000
3,(PotatoChip),(Ramyon),0.4,0.6,0.4,1.000000,1.666667,0.16,inf,0.666667
4,(PotatoChip),(Beer),0.4,0.8,0.4,1.000000,1.250000,0.08,inf,0.333333
5,(Beer),(PotatoChip),0.8,0.4,0.4,0.500000,1.250000,0.08,1.2,1.000000
6,"(Ramyon, Milk)",(Beer),0.4,0.8,0.4,1.000000,1.250000,0.08,inf,0.333333
7,"(Milk, Beer)",(Ramyon),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2,0.250000
8,(Ramyon),"(Milk, Beer)",0.6,0.6,0.4,0.666667,1.111111,0.04,1.2,0.250000
9,(Beer),"(Ramyon, Milk)",0.8,0.4,0.4,0.500000,1.250000,0.08,1.2,1.000000
10,"(Ramyon, PotatoChip)",(Beer),0.4,0.8,0.4,1.000000,1.250000,0.08,inf,0.333333
11,"(Ramyon, Beer)",(PotatoChip),0.6,0.4,0.4,0.666667,1.666667,0.16,1.8,1.000000
12,"(PotatoChip, Beer)",(Ramyon),0.4,0.6,0.4,1.000000,1.666667,0.16,inf,0.666667
13,(Ramyon),"(PotatoChip, Beer)",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8,1.000000
14,(PotatoChip),"(Ramyon, Beer)",0.4,0.6,0.4,1.000000,1.666667,0.16,inf,0.666667
15,(Beer),"(Ramyon, PotatoChip)",0.8,0.4,0.4,0.500000,1.250000,0.08,1.2,1.000000

In [11]:
example_Rules_pos.sort_values(by=["lift"],ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
2,(Ramyon),(PotatoChip),0.6,0.4,0.4,0.666667,1.666667,0.16,1.8,1.000000
3,(PotatoChip),(Ramyon),0.4,0.6,0.4,1.000000,1.666667,0.16,inf,0.666667
11,"(Ramyon, Beer)",(PotatoChip),0.6,0.4,0.4,0.666667,1.666667,0.16,1.8,1.000000
12,"(PotatoChip, Beer)",(Ramyon),0.4,0.6,0.4,1.000000,1.666667,0.16,inf,0.666667
13,(Ramyon),"(PotatoChip, Beer)",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8,1.000000
14,(PotatoChip),"(Ramyon, Beer)",0.4,0.6,0.4,1.000000,1.666667,0.16,inf,0.666667
0,(Ramyon),(Beer),0.6,0.8,0.6,1.000000,1.250000,0.12,inf,0.500000
4,(PotatoChip),(Beer),0.4,0.8,0.4,1.000000,1.250000,0.08,inf,0.333333
5,(Beer),(PotatoChip),0.8,0.4,0.4,0.500000,1.250000,0.08,1.2,1.000000
6,"(Ramyon, Milk)",(Beer),0.4,0.8,0.4,1.000000,1.250000,0.08,inf,0.333333
9,(Beer),"(Ramyon, Milk)",0.8,0.4,0.4,0.500000,1.250000,0.08,1.2,1.000000
10,"(Ramyon, PotatoChip)",(Beer),0.4,0.8,0.4,1.000000,1.250000,0.08,inf,0.333333
15,(Beer),"(Ramyon, PotatoChip)",0.8,0.4,0.4,0.500000,1.250000,0.08,1.2,1.000000
1,(Beer),(Ramyon),0.8,0.6,0.6,0.750000,1.250000,0.12,1.6,1.000000
7,"(Milk, Beer)",(Ramyon),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2,0.250000
8,(Ramyon),"(Milk, Beer)",0.6,0.6,0.4,0.666667,1.111111,0.04,1.2,0.250000